.barra-navegacao {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: #A7A000;
    font-family: "Caesar Dressing", system-ui; 
}

.logo-zoo{
    width: 25%;
}


.navbar-opcoes{
    width: 75%;
    margin-right: 2%;
    display: flex;
}

.navbar-opcoes > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
}

li {
    padding: 0 2%;
    font-size: 1.5rem;
}